.banner {
  margin-top: 25px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0 90%;
  /* border: 5px solid red; */
}

h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.item a {
  text-decoration: none;
}

.card {
  width: 500px;
  /* height: 300px; */
  background-color: lightblue;
  border: 1px solid pink;
  margin-top: 40px;
}

.card img {
  width: 100%;
  object-fit: contain;
  border: 2px solid blue;
}

.container {
  width: 100%;
  /* height: 200px; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
