.banner {
  margin-top: 25px;
  width: 100%;
  object-fit: cover;
  object-position: 0 90%;
}

.agence {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.agence > div:nth-child(1) {
  width: 40%;
}

.agence p,
.agence > div:nth-child(1) > div {
  background-color: rgb(206, 230, 243, 0.4);
}

.title-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.agence h2,
.excellence h2 {
  padding-top: 50px;
  margin-bottom: 50px;
  position: relative;
  display: inline;
}

.agence h2::before,
.excellence h2::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -15px;
  background-color: black;
  width: 100%;
}

.agence p,
.excellence p {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: justify;
  line-height: 1.875;
  text-indent: 50px;
}

.agence img {
  height: 450px;
  margin-top: 100px;
  margin-left: 200px;
  object-fit: cover;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item a {
  text-decoration: none;
}

.excellence {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 150px;
}

.excellence img {
  height: 350px;
  margin-top: -140px;
  margin-right: 150px;
  object-fit: cover;
}

.excellence > div:nth-child(2) {
  width: 40%;
  background-color: rgb(223, 168, 120, 0.4);
}

section:nth-child(4) > div {
  text-align: center;
  margin-bottom: 50px;
}

section:nth-child(4) h2 {
  display: inline;
  position: relative;
}

section:nth-child(4) h2:after,
section:nth-child(4) h2:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}

section:nth-child(4) h2:before {
  left: -70px;
}

section:nth-child(4) h2:after {
  right: -70px;
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .img-container {
    display: flex;
    align-items: center;
  }

  .agence img {
    margin-left: 100px;
    margin-top: 0px;
  }

  .excellence {
    margin-top: 80px;
  }

  .excellence img {
    height: 300px;
    margin-top: 0px;
    margin-right: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .img-container {
    display: flex;
    align-items: center;
  }

  .agence > div:nth-child(1) {
    width: 50%;
  }

  .agence img {
    margin-left: 5%;
    margin-top: 0px;
  }

  .excellence {
    margin-top: 80px;
  }

  .excellence img {
    height: 250px;
    margin-top: 0px;
    margin-right: 20px;
  }

  .excellence > div:nth-child(2) {
    width: 50%;
    margin-top: 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .agence {
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .agence > div:nth-child(1) {
    width: 100%;
  }

  .agence img {
    display: none;
  }

  .excellence {
    flex-direction: column;
    margin-top: 50px;
  }

  .excellence img {
    height: 250px;
    width: 100%;
    margin-right: 0px;
    margin-top: 0px;
  }

  .excellence > div:nth-child(2) {
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (min-width: 576px) {
  .banner {
    height: 300px;
  }
}

@media screen and (max-width: 575.98px) {
  .agence h2,
  .excellence h2,
  section:nth-child(4) h2 {
    font-size: 26px;
  }

  .title-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .excellence {
    margin-bottom: 75px;
  }

  .title-container2 {
    padding-left: 75px;
    padding-right: 75px;
  }

  .item {
    width: 100%;
  }
}

/* Custom breakpoint */
@media screen and (max-width: 399.98px) {
  section:nth-child(4) h2 {
    font-size: 20px;
  }

  section:nth-child(4) h2:after,
  section:nth-child(4) h2:before {
    width: 30px;
  }

  section:nth-child(4) h2:before {
    left: -50px;
  }

  section:nth-child(4) h2:after {
    right: -50px;
  }
}
