.card,
.card-home {
  background: rgb(250, 234, 177);
  background: linear-gradient(
    90deg,
    rgba(250, 234, 177, 1) 0%,
    rgba(229, 186, 115, 1) 100%
  );
  margin-top: 40px;
  border: 1px solid rgba(229, 186, 115, 1);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card {
  width: 500px;
}

.card-home {
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
}

.card-home img {
  width: 100%;
  object-fit: cover;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.details {
  height: 175px;
  position: relative;
  padding-top: 15px;
  padding-left: 15px;
}

.details p {
  font-size: 24px;
  font-weight: 100;
}

.details2 {
  display: block;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 100;
}

.price {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 30px;
  font-weight: 100;
}

.detail {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: 100;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #f1f6f9;
}

.detail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -40px;
  border-right: 40px solid transparent;
  border-bottom: 50px solid #00337c;
  z-index: -1;
  transform: translateX(-100%);
}

.detail:hover::before {
  transition: 0.25s ease-in-out;
  transform: translate(0);
}

.detail:hover {
  animation: detail-animation 0.25s forwards;
}

@keyframes detail-animation {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

@media screen and (min-width: 576px) {
  .card-home img {
    height: 300px;
  }

  .card img {
    height: 400px;
  }
}

/* Portrait mode */
@media screen and (max-width: 575.98px) and (orientation: portrait) {
  .card-home {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
  }

  .card-home img {
    height: 200px;
  }

  .card {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }

  .card img {
    height: 250px;
  }
}

/* Landscape mode */
@media screen and (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .card-home {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-home img {
    height: 200px;
  }

  .card {
    width: 400px;
  }

  .card img {
    height: 300px;
  }
}

@media screen and (max-width: 991.98px) and (orientation: landscape) {
  .card-home {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card-home img {
    height: 200px;
  }

  .card {
    width: 350px;
  }

  .card img {
    height: 250px;
  }

  .card .price {
    font-size: 20px;
    font-weight: 600;
  }

  .card .detail {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

/* Both modes */
@media screen and (max-width: 575.98px) and (orientation: portrait),
  screen and (max-width: 1199.98px) and (orientation: landscape) {
  .card-home .price {
    font-size: 20px;
    font-weight: 600;
  }

  .card-home .detail {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 575.98px) and (orientation: portrait) {
  .details p {
    font-size: 22px;
  }

  .card .price {
    font-size: 20px;
    font-weight: 600;
  }

  .card .detail {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

/* Custom breakpoint */
@media screen and (max-width: 399.98px) {
  .details {
    height: auto;
  }

  .price {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .detail {
    position: relative;
    display: block;
    width: 120px;
    left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 0;
  }
}
