.border {
  width: 90%;
  border-top: 2px solid #00337c;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer > ul > li:nth-child(1) {
  font-weight: 700;
}

.footer li {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer li a {
  text-decoration: none;
  color: black;
  position: relative;
}

@media screen and (min-width: 576px) {
  .footer li a:before,
  .footer li a:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #00337c;
    top: 10px;
    opacity: 0;
  }

  .footer li a:before {
    left: -30px;
  }

  .footer li a:after {
    right: -30px;
  }

  .footer li a:hover:before,
  .footer li a:hover:after {
    animation-name: line-animation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes line-animation {
    0% {
      width: 0px;
      opacity: 0;
    }
    100% {
      width: 20px;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 575.98px) {
  .footer {
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
  }

  .footer ul {
    margin-bottom: 10px;
  }
}
