.container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 150px;
}

.icon {
  width: 25px;
  height: 25px;
}

.container > li:hover {
  transform: scale(1.3);
}

/* Custom breakpoint */
@media screen and (max-width: 575.98px) and (orientation: portrait) {
  .icon {
    width: 20px;
    height: 20px;
  }
}

/* Custom breakpoint */
@media screen and (max-width: 299.98px) {
  .container {
    width: 70px;
    flex-wrap: wrap;
  }
}
