.container {
  width: 90%;
  margin: 0 auto;
}

.subcontainer {
  width: 100%;
  display: flex;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 2.6px;
  margin-bottom: 40px;
  background: rgb(250, 234, 177);
  background: linear-gradient(
    90deg,
    rgba(250, 234, 177, 1) 0%,
    rgba(229, 186, 115, 1) 100%
  );
}

.subcontainer > div:nth-child(1) {
  width: 60%;
  background-color: aliceblue;
}

.subcontainer img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.subcontainer > div:nth-child(2) {
  width: 40%;
  display: flex;
  align-items: center;
}

.details-container {
  border-top: 2px dotted #00337c;
  border-bottom: 2px dotted #00337c;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.container span {
  font-size: xx-large;
}

.container p {
  margin-top: 20px;
  font-size: 20px;
}

.subcontainer span {
  font-size: x-large;
}

.button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.contact {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #f1f6f9;
}

.contact:before,
.contact:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #00337c;
  border-radius: 50%;
  z-index: -1;
}

.contact:before {
  left: -20px;
  transform: translate(-50%, -50%);
}

.contact:after {
  right: -20px;
  transform: translate(50%, -50%);
}

.contact:hover:before {
  animation: criss-cross-left 0.6s forwards;
}

.contact:hover:after {
  animation: criss-cross-right 0.6s forwards;
}

.contact:hover {
  animation: detail-animation 0.6s forwards;
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes detail-animation {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

@media screen and (max-width: 1200px) {
  .subcontainer {
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .subcontainer > div:nth-child(1) {
    width: 100%;
  }

  .subcontainer > div:nth-child(2) {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .subcontainer {
    width: 90%;
  }
}
