@font-face {
  font-family: "Montserrat_regular";
  src: url(../polices/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Lora_regular";
  src: url(../polices/Lora/static/Lora-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1 {
  font-family: "Lora_regular";
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-family: "Lora_regular";
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  font-family: "Lora_regular";
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
span,
button,
a,
input,
textarea,
select {
  font-family: "Montserrat_regular";
}
